In [11]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [4]:
alucar = pd.read_csv('inputs/alucar.csv')

In [5]:
alucar.head()

          mes  vendas
0  2017-01-31      10
1  2017-02-28      20
2  2017-03-31      33
3  2017-04-30      47
4  2017-05-31      63

In [6]:
alucar.shape

(24, 2)

In [7]:
alucar.isna().sum().sum()

0

In [8]:
alucar.dtypes

mes       object
vendas     int64
dtype: object

In [9]:
alucar['mes'] = pd.to_datetime(alucar['mes'])

In [10]:
alucar.dtypes

mes       datetime64[ns]
vendas             int64
dtype: object